/* UNIVERSAL SETTINGS */

$grey: #d8d8d8;
$mainfont: 'Questrial' sans-serif;

html{
	font-size:62.5%;
}

body{
	font-size:1.6rem;
	background:$grey;
	font-family:$mainfont;
	word-wrap:break-word;
}

h1,h2,h3,h4,h5,h6{
	margin:0;
	padding:0;
}

.flex{
	display:flex;
	flex-wrap:wrap;
}

.wrapper{
	max-width: 1000px;
	margin: 0 auto;
	flex-direction:column;
}

.isHidden{
	display:none;
}






/* MAIN */

.main{
	background: url(assets/turntableTwo.jpg) no-repeat;
	height:100vh;
	background-size:cover;
	background-position: 50% 0;
}

.main h1{
	text-align:center;
	color:$grey;
	margin-top:10%;
	max-width:65%;
	font-size:6rem;
	font-weight:lighter;
	letter-spacing:2px;
}

.main h3{
	color:$grey;
	margin-top:16%;
	max-width: 65%;
	text-align:center;
	font-size:3rem;
	font-weight:lighter;
}

.buttonGroup{
	width: 65%;
	justify-content:space-between;
	padding-top:3%;
}

.buttonMain{
	background:black;
	color:$grey;
	border:1px solid $grey;
	width: 46%;
	margin:2% 2%;
	padding:4% 0;
	letter-spacing:1px;
	font-size:1.8rem;
	font-weight:bold;
	outline:none;
	&:hover{
		background: $grey;
		color:black;
		transition:0.75s;
	}
}

.credits{
	justify-content:space-between;
	font-size:1.2rem;
	color:$grey;
	text-align:right;
	padding-top:5%;
	max-width:95%;
	p:first-of-type{
		padding-left:1%;
	}
	p:last-of-type{
		padding-right:1%;
	}
	a{
		text-decoration:none;
		color:$grey;
	}
}





// API RETURNS

.container{
	max-width:75%;
	margin:0 auto;
}

.suggestions{
	text-align:center;
	margin:6% 0;
	font-size:4rem;
}

.results{
	justify-content:space-between;
}

.allTheThings{
	flex-wrap:wrap;
	display:flex;
	justify-content:flex-start;
	border:2px solid rgba(black, 0.3);
	width: 49%;
	margin:0.75% 0 0.75% 0;
	background:rgba(white, 0.5);
}

.bandLogo {
	flex:1;
	align-self:flex-start;
}

.bandName{
	flex:2;
	align-self:center;
	margin-left:3%;
	font-size:1.5rem;
}

.mainFooter{
	text-align: center;
	margin:10% 0 5% 0;
	width: 100%;
}

.homeLink{
	border:2px solid rgba(black,0.3);
	text-decoration: none;
	color:black;
	background: rgba(white,0.5);
	padding:2% 3%;
	&:hover{
		background: black;
		color:$grey;
		transition:1s;
	}
}





// MEDIA QUERIES

@media all and (max-width:1000px){
	
	.body{
		background: black;
	}	
	.main{
		background-size:90%;
		margin-top:2%; 
		h1{
			margin-top:20%;
			font-size:3.5rem;
		}
		h3{
			color:black;
			margin:0 auto;
			font-size:2.5rem;
			padding-top:43%;	
		}
	}
	.credits p{
		padding-top: 20%;
		color:black;
		margin:3% 0;
		&:first-of-type{
			padding-left:4%;
		}
		&:last-of-type{
			padding-right:4%;
		}
	}
	.credits a{
		color:black;
	}

	.buttonMain{
		padding:5% 0;
		width: 48%;
		margin:3% 0;
		font-size:2.5rem;
	}
	
	.buttonGroup{
		width:80%;
		margin:0 auto;
	}
} // END MQ



@media all and (max-width:790px){
	.credits p{
		font-size:1rem;
	}
	.allTheThings{
		width: 75%;
		margin: 1% auto;
	}
	.bandName{
		font-size:1.2rem;
	}
} 
// } END MQ



@media all and (max-width:700px){
	.main h1{
		font-size:3rem;
	}
}


@media all and (max-width:650px){
	.credits p:last-of-type{
		padding-top:0;
		padding-left:4%;
		text-align:left;
	}
}



@media all and (max-width:600px){
	.main h1{
		font-size:2.5rem;
	}
	.main h3{
		font-size:2.5rem;
	}
	.buttonMain{
		font-size:2rem;
	}
	.allTheThings{
		width: 100%;
	}
	.bandLogo{
		flex:1;
	}
	.bandName{
		flex:1.5;
	}
}



@media all and (max-width:500px){
	.main h1{
		font-size:2rem;
	}
	.main h3{
		font-size:2rem;
	}
	.buttonMain{
		font-size:1.8rem;
	}
	.suggestions{
		font-size:3rem;
	}
}


@media all and (max-width:375px){
	.main h1{
		font-size:1.8rem;
		padding-left:4%;
	}
	.buttonMain{
		font-size:1.5rem;
	}
	.bandName{
		flex:1;
	}
	.bandLogo{
		flex:1;
	}
}











